.advantages__title {
    font-weight: 700;
    font-size: $primaryFontSize;
    line-height: 1.14;
    text-transform: uppercase;
    color: $colorSecondaryText;
    margin-bottom: 10px;
}
.advantages__item:not(:last-child) {
    margin-right: 30px;
}
.advantages__list {
    display: flex;
}
.advantages__content {
    line-height: 24px;
    width: 270px;
}
.advantages__group {
    margin-bottom: 30px;
    background: $colorBackground;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.advantages__icon {
    object-fit: cover;
}